@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>

<div class="text-center">
    <h4>Sql Server Connection Result</h4>
    @foreach(var result in Model.Result)
    {
        <p>@result</p>
    }
</div>
